<section class="vegetables" id="vegetables-section">
  <div class="container">
    <h2 class="vegetables-title">
      organic
      <span class="title-accent">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-subtitle">eggplant</h3>
        <p class="vegetables-item-text">60 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/vegetables/eggplant-desk-min.png    1x,
              /img/vegetables/eggplant-desk@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/vegetables/eggplant-tab-min.png    1x,
              /img/vegetables/eggplant-tab@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/vegetables/eggplant-mob-min.png    1x,
              /img/vegetables/eggplant-mob@2x-min.png 2x
            "
          />
          <img
            src="/img/vegetables/eggplant-desk-min.png"
            alt="eggplant"
            class="image-vegetables"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-subtitle">leek</h3>
        <p class="vegetables-item-text">50 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/vegetables/leek-desk-min.png    1x,
              /img/vegetables/leek-desk@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/vegetables/leek-tab-min.png    1x,
              /img/vegetables/leek-tab@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/vegetables/leek-mob-min.png    1x,
              /img/vegetables/leek-mob@2x-min.png 2x
            "
          />
          <img
            src="/img/vegetables/leek-desk-min.png"
            alt="leek"
            class="image-vegetables"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-subtitle">mushrooms</h3>
        <p class="vegetables-item-text">40 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/vegetables/mushrooms-desk-min.png    1x,
              /img/vegetables/mushrooms-desk@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/vegetables/mushrooms-tab-min.png    1x,
              /img/vegetables/mushrooms-tab@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/vegetables/mushrooms-mob-min.png    1x,
              /img/vegetables/mushrooms-mob@2x-min.png 2x
            "
          />
          <img
            src="/img/vegetables/mushrooms-desk-min.png"
            alt="mushrooms"
            class="image-vegetables"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-subtitle">corn</h3>
        <p class="vegetables-item-text">60 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/vegetables/corn-desk-min.png    1x,
              /img/vegetables/corn-desk@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/vegetables/corn-tab-min.png    1x,
              /img/vegetables/corn-tab@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/vegetables/corn-mob-min.png    1x,
              /img/vegetables/corn-mob@2x-min.png 2x
            "
          />
          <img
            src="/img/vegetables/corn-desk-min.png"
            alt="corn"
            class="image-vegetables"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-subtitle">sweet potatoes</h3>
        <p class="vegetables-item-text">50 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/vegetables/potatoes-desk-min.png    1x,
              /img/vegetables/potatoes-desk@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/vegetables/potatoes-tab-min.png    1x,
              /img/vegetables/potatoes-tab@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/vegetables/potatoes-mob-min.png    1x,
              /img/vegetables/potatoes-mob@2x-min.png 2x
            "
          />
          <img
            src="/img/vegetables/potatoes-desk-min.png"
            alt="sweet potatoes"
            class="image-vegetables"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-subtitle">carrot</h3>
        <p class="vegetables-item-text">40 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/vegetables/carrot-desk-min.png    1x,
              /img/vegetables/carrot-desk@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/vegetables/carrot-tab-min.png    1x,
              /img/vegetables/carrot-tab@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/vegetables/carrot-mob-min.png    1x,
              /img/vegetables/carrot-mob@2x-min.png 2x
            "
          />
          <img
            src="/img/vegetables/carrot-desk-min.png"
            alt="carrot"
            class="image-vegetables"
            width="280"
            height="244"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
