.vegetables {
  background-color: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}
.container {
}
.vegetables-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 20px;
}
.title-accent {
  color: #d4bfc4;
}
.vegetables-text {
  font-weight: 500;
  line-height: 1.42;
  font-size: 14px;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 40px;
}
.vegetables-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.vegetables-item {
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px 24px;
  width: 100%;
}
.vegetables-item-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.019em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}
.vegetables-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
  margin-bottom: 12px;
}
.image-vegetables {
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .vegetables-title {
    font-size: 60px;
    letter-spacing: -0.01em;
    max-width: 508px;
    margin-bottom: 24px;
  }
  .vegetables-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 626px;
    margin-bottom: 52px;
  }
  .vegetables-list {
    gap: 28px 24px;
  }

  .vegetables-item {
    padding: 32px 30px;
    width: calc((100% - 24px) / 2);
  }
  .vegetables-item-subtitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-item {
    padding: 32px;
    width: calc((100% - 48px) / 3);
  }
}
