.works{
background-color: #576F35;
}

.container.works-wrap{
padding: 0;
}

.works-wrap{
background-color: #576F35;
padding: 0;
}

.works-foto {
min-width: 320px;
background-color: #7A3145;
padding: 40px 20px;
}

.works-foto-image {
border-radius: 30px;
}

.works-describe {
background-color: #576F35;
padding: 80px 20px;
}

.works-title{
font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #FBFBFB;
margin-bottom: 20px;
}

.works-accent {
color: #D4BFC4;
}

.works-text {
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #FBFBFB;
}

.works-steps {
margin-top: 40px;
counter-reset: step-counter;
}

.works-steps-list {
list-style: none;
padding-left: 0;
margin: 0;
}

.works-steps-list-item {
max-width: 375px;
min-height: 84px;
border-radius: 15px;
margin-bottom: 20px;
padding: 12px 0;
background-color: #FBFBFB;
counter-increment: step-counter;
position: relative;
align-content: center;
padding-left: 100px;
padding-right: 27px;
padding-bottom: 12px;
padding-top: 12px;
}

.works-steps-list-item::before {
content: counter(step-counter);
color: #FFFFFF;
font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
width: 52px;
height: 52px;
background-color: #7A3145;
border: 5px solid #D4BFC4;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 50%;
left: 24px;
transform: translateY(-50%);
}

.works-steps-list-item:last-child {
margin-bottom: 0;
}

.works-steps-list-text {
min-width: 208px;
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #858585;

}

.works-steps-bold {
font-weight: 700;
color: #141414;
}

.submit {
margin-top: 24px;
}

.sub-open-button {
font-family: inherit;
border-radius: 30px;
padding: 16px 32px;
background-color: #7a3145;
font-weight: 600;
line-height: 20px;
font-size: 18px;
color: #fbfbfb;
border: none;
cursor: pointer;

display: block;
margin-left: auto;
margin-right: auto;
}

.sub-open-button:active,
.sub-open-button:focus,
.sub-open-button:hover{
background-color: #D4BFC4;
color: #7a3145;
}

@media screen and (min-width: 768px) {
.works-foto {
min-width: 768px;
padding: 100px 40px;
}

.works-foto-image {
margin: 0 auto;
}

.works-describe {
min-width: 768px;
padding: 100px 164px;
}

.works-title {
max-width: 440px;
font-size: 30px;
margin-bottom: 24px;
}

.works-text {
font-size: 16px;
line-height: 125%;
}


.works-steps{
margin-top: 52px;
}

.works-steps-list-item{
max-width: 440px;
min-height: 76px;
margin-bottom: 24px;
padding-right: 15px;
padding-bottom: 6px;
padding-top: 6px;
}

.works-steps-list-text {
min-width: 325px;

font-size: 16px;
}

}

@media screen and (min-width: 1280px) {
.works-wrap {
display: flex;
}

.works-foto {
min-width: 640px;
padding: 100px;
}

.works-describe {
min-width: 640px;
padding: 100px;
}

.works-steps {
margin-top: 104px; 
}

.works-steps-list-item {
min-width: 440px;
padding-bottom: 18px;
padding-top: 18px;
}

.works-steps-list-text {
min-width: 325px;

font-size: 16px;
line-height: 125%;
}
}
