.works-wrap{
display: flex;
padding: 0;
background-color: #576F35;
}

.works-foto{
background-color: #7A3145;
width: 640px;
padding: 100px;
}

.works-describe{
background-color: #576F35;
width: 640px;
padding: 100px;  
}

.works-text{
font-weight: 500;
font-size: 16px;
line-height: 125%;
color: #FBFBFB;
}

.works-foto-image{
border-radius: 30px;
}

.works-title{
max-width: 440px;       
font-weight: 600;
font-size: 30px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #FBFBFB;
margin-bottom: 24px;
}

.works-accent{
color: #D4BFC4;
}

.works-steps{
    margin-top: 104px;
    counter-reset: step-counter;
}

.works-steps-list{
    list-style: none;
    padding-left: 0;
}

.works-steps-list-item{
    min-width: 440px;
    min-height: 76px;
    border-radius: 15px;
    margin-bottom: 24px;
    background-color: #FBFBFB;
    padding: 12px 17px 12px 24px;
    counter-increment: step-counter;
    position: relative;
    align-content: center;
}

.works-steps-list-item::before {
    content: counter(step-counter);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    width: 52px;
    height: 52px;
    background-color: #7A3145;
    border: 5px solid #D4BFC4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
   
}

.works-steps-list-item:last-child {
    margin-bottom: 0;
}

.works-steps-list-text{
max-width: 325px;
font-weight: 500;
font-size: 16px;
line-height: 125%;
color: #858585;
margin-left: 24px;

}

.works-steps-bold{
font-weight: 700;
color: #141414;
}